:root {
  --background-hue: 234.78deg;
  --background-sat: 24.21%;
  --background-lit: 18.63%;

  --primary-text-color: #ffffff;
  --primary-color: hsl(16, 84%, 62%);

  --background-color: hsl(
    var(--background-hue) var(--background-sat) var(--background-lit)
  );

  --background-color-light: hsl(
    var(--background-hue) var(--background-sat)
      calc(var(--background-lit) - 10%) / 0.5
  );

  --background-color-dark: hsl(
    var(--background-hue) var(--background-sat) calc(var(--background-lit) - 5%)
  );

  --secondary-color: hsl(43.03deg 98.02% 60.39%);
}

html {
  position: relative;
}

/* html::after{
  content: '';
  width: 2px;
  height: 100vh;
  position: absolute;
  left: 50%;
  background: blue;
  top: 0px;
} */

html,
body {
  margin: 0;
  padding: 0;
  height: 100vh;
  overflow-y: scroll;
  scroll-behavior: smooth;
  /* font-family: "Roboto Mono", sans-serif; */
  font-family: "__whyte_5bb98a";
  background: var(--background-color);
  color: var(--primary-text-color);
}

h1,
h2,
h3,
h4 {
  font-family: "__whyte_5bb98a", "Playfair Display SC", serif;
}

p {
  line-height: 1.5;
}

ul {
  padding: 0;
}

li {
  list-style: none;
  line-height: 2.5em;
}

a {
  color: currentColor;
  text-decoration-color: var(--primary-color);
  all: unset;
}

header,
section {
  overflow-y: auto;
}

section {
  margin-bottom: 90px;
}

section {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.flex-justify-center {
  display: flex;
  justify-content: center;
}

.text-align-center {
  text-align: center;
}

.flex-align-items-center {
  align-items: center;
}

.hero {
  flex-direction: column;
  align-items: center;
}

.skills {
  display: flex;
  margin-top: 20px;
}
.project-card {
  display: flex;
  align-items: start;
  border-radius: 16px;
  box-shadow: 0 6px 6px hsl(0deg 0% 0% / 0.3);
  padding: 16px;
}
.languages-row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  gap: 8px;
  flex-wrap: wrap;
}

.languages-row > li {
  box-shadow: inset 0 6px 6px hsl(0deg 0% 0% / 0.3);
  padding: 0.5rem 1rem;
  border-radius: 6px;
}
.name-highlighter {
  color: #5c3d81;
  background-color: hsl(43.03deg 98.02% 60.39% /0.97);
  padding: 0px 4px;
  font-family: "EB Garamond";
  font-weight: 700;
}

.header {
  background-image: linear-gradient(
      to right bottom,
      var(--background-color-light),
      var(--background-color)
    ),
    url(https://cdn.pixabay.com/photo/2022/04/01/09/08/particles-7104407_1280.jpg);
  background-size: cover;
  background-position: top;
  position: relative;
  clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%);
  height: 95vh;
  font-size: 32px;
  z-index: 0;
}

.skills article > p {
  max-width: 60%;
}

.skills article > h3 {
  width: fit-content;
}

.greet-msg {
  max-width: 60%;
}

article > img {
  width: 200px;
  aspect-ratio: 3/2;
}

.project-card {
  width: 66%;
  gap: 16px;
}

.project-card > img {
  display: flex;
  background-size: cover;
  align-items: start;
}
.project-details > h3 {
  margin-top: 0px !important;
}

.gap {
  gap: 20px;
}

.letstalk {
  padding: 0.5rem 1.5rem;
  background-color: hsl(43.03deg 98.02% 60.39% /0.97);
  border-radius: 4px;
  position: relative;
  border: 6px;
  border: 6px;
  font-size: 16px;
  z-index: 12;
  cursor: pointer;
  color: #5c3d81;
  font-weight: bold;
}

.about > h2,
.right-side-skills > h3,
.left-side-skills > h3 {
  color: hsl(43.03deg 98.02% 60.39%);
}

.left-side-skills,
.right-side-skills {
  flex-direction: column;
  flex-basis: 50%;
}

.dashed-border-left {
  border-left: 2px dashed var(--secondary-color);
}

/* .projects:last-child{
  margin-bottom: 20px;
} */

.projects {
  padding-bottom: 20px;
}

.projects > h2,
.project-details > h3 {
  color: var(--secondary-color);
}

.contact-details {
}

.contact > h2,
.phone-number,
.email,
.experience > h2 {
  color: var(--secondary-color);
}

.experience-card {
  width: 20%;
}

.experience-card > ul > li > h3 {
  color: var(--secondary-color);
}

.experience h3,
.experience p {
  margin: 0;
}

.experience li {
  margin-bottom: 24px;
  position: relative;
}

.experience li::before {
  content: "";
  display: inline;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  position: absolute;
  left: -24px;
  top: 14px;
  background: var(--secondary-color);
}

.experience li::after {
  content: "";
  width: 4px;
  display: block;
  height: calc(100% - 36px);
  position: absolute;
  left: -20px;
  top: 36px;
  background: var(--secondary-color);
}

@media only screen and (max-width: 600px) {
  .header {
    font-size: 24px;
  }
}
